<div class="${baseClass}">
    <input type="text" data-dojo-type="country/Country" data-dojo-attach-point="country"
           name="country"  data-dojo-props="promptMessage: 'Укажите страну'" required>
    <div class="line">
        <span class="label">Населенный пункт</span>
        <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="city"
               name="city" data-dojo-props="promptMessage: 'Укажите населенный пункт'" required>
    </div>
    <div class="line">
        <span class="label">Район</span>
        <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="district"
               name="district" data-dojo-props="promptMessage: 'Укажите район'">
    </div>
    <div class="line">
        <span class="label">Улица</span>
        <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="street"
               name="street" data-dojo-props="promptMessage: 'Укажите улицу'" required>
    </div>
    <div class="line">
        <span class="label">Дом</span>
        <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="house"
               name="house" data-dojo-props="promptMessage: 'Укажите номер дома'" required>
    </div>
    <div class="line">
        <span class="label">Квартира/офис</span>
        <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="flat"
               name="flat" data-dojo-props="promptMessage: 'Укажите номер квартиры/офиса'" required>
    </div>
    <div class="line">
        <span class="label">Почтовый индекс</span>
        <input type="text" data-dojo-type="dijit/form/ValidationTextBox" data-dojo-attach-point="postalIndex"
               name="postalIndex" data-dojo-props="promptMessage: 'Укажите почтовый индекс'" required>
    </div>
</div>